Python -V #3.9.12

# Name                    Version                   Build  Channel
absl-py                   1.2.0                    pypi_0    pypi
ninja                     1.11.0               h924138e_0    conda-forge
ml-collections            0.1.1                    pypi_0    pypi
pytorch                   1.12.0          py3.9_cuda11.3_cudnn8.3.2_0    pytorch
tensorflow                2.10.0                   pypi_0    pypi
tensorflow-datasets       4.6.0                    pypi_0    pypi
tensorflow-gan            2.1.0                    pypi_0    pypi
jax                       0.3.20             pyhd8ed1ab_0    conda-forge
jaxlib                    0.3.20          cuda112py39h5d93514_200    conda-forge
